.contenedor{
    background-color: bisque;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
}

.devFlex{
    background-color: turquoise;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

